<srticle id="popular_categories" class="row-fluid" style="margin-bottom: 30px;">
  <div class="span6">
    <h3>Popular Categories</h3>
     <div style="display: block;text-align: right;margin-bottom: 3px;">
       <input type="button" value="<" />
       <input type="button" value=">" />
     </div>
    <div class="row-fluid">
      <div class="span6" style="margin-bottom: 5px;">
        <%= image_tag("store/image01.jpg",:width => "100%",:class => "img-polaroid")%>
      </div>
      <div class="span6" style="margin-bottom: 5px;">
        <%= image_tag("store/image01.jpg",:width => "100%",:class => "img-polaroid")%>
      </div>
      <div class="span6" style="margin-left: 0px">
        <%= image_tag("store/image01.jpg",:width => "100%",:class => "img-polaroid")%>
      </div>
      <div class="span6">
        <%= image_tag("store/image01.jpg",:width => "100%",:class => "img-polaroid")%>
      </div>
    </div>
  </div>
  <div class="span6" style="height:555px;">
    <%= image_tag("store/image01.jpg",:style=>"height:100%",:class => "img-polaroid")%>
  </div>
</srticle>
<hr />
<srticle data-hook="homepage_products">
  <%= render :partial => 'spree/shared/featured_products', :locals => { :products => @products } %>
</srticle>
<hr />
<article class="row-fluid">
  <div class="span4">
    <h3>Join the Cammunity</h3>
    <p>Get the inside on our secret deals when you sign up for the newsleter or follow us!</p>
    <input type="text" /><input type="submit" value="Join" />
    <ul style="list-style: none;margin-left: 0px;">
      <li><%= image_tag("store/social-facebook-box-blue-icon.png")%> <a href="https://www.facebook.com">Become a Fan</a> on Facebook</li>
      <li><%= image_tag("store/social-rss-box-orange-icon .png")%> <a href="https://twitter.com/">Follow us</a> on Twitter</li>
      <li><%= image_tag("store/social-twitter-box-blue-icon.png")%> <a href="#">Subscribe</a> to our RSS Feed</li>
    </ul>
  </div>
  <div class="span4">
    <h3>Flaunt Your Scrum2b</h3>
    <p>Like us on facebook</p>  
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/ScrumToBe&amp;width=315&amp; height=200&amp;colorscheme=light&amp;show_faces=true&amp; border_color=%23f7f7f7&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:315px; height:258px;" allowtransparency="true"></iframe>   
  </div>  
  <div class="span4">
    <h3>Customer Quotes</h3>
    <p>" Everwhere i go people ask me about my new shirt.</p>  
    <p>Thank You!!!"</p>
    <p style="float: right">Jon Curtis, Dec 2013</p>
  </div>  
</article>
<style>
.slide{
  display: block;
}
</style>
