<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_collections_list), session[:return_to] || admin_collections_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_collection), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_collection' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @collection } %>

<h1>Collection Details</h1>
<%= form_for [:admin, @collection], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <div data-hook="admin_collection_form_fields">
      <div class="left eight columns alpha" data-hook="admin_product_form_left">
        <%= f.field_container :name do %>
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
          <%= f.text_field :name, :class => 'fullwidth title' %>
          <%= f.error_message_on :name %>
        <% end %>
    
        <%= f.field_container :permalink do %>
          <%= f.label :permalink, raw(Spree.t(:permalink) + content_tag(:span, ' *',  :class => "required")) %>
          <%= f.text_field :permalink, :class => 'fullwidth title' %>
          <%= f.error_message_on :permalink %>
        <% end %>
    
        <%= f.field_container :description do %>
          <%= f.label :description, Spree.t(:description) %>
          <%= f.text_area :description, {:rows => 8, :class => 'fullwidth'} %>
          <%= f.error_message_on :description %>
        <% end %>
    
      </div>
    
      <div data-hook="admin_collection_form_additional_fields"></div>
    
      <div class="clear"></div>
    </div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>

  </fieldset>
<% end %>

<h1>Collection Products</h1>
<br/>
<div id="collection_products" data-hook>
  <%= render :partial => 'spree/admin/collections/products', :locals => {:collection => @collection} %>
</div>