<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @collection } %>

<%= form_for [:admin, @collection], :html => { :multipart => true } do |f| %>

<fieldset data-hook="new_collection">

  <legend align="center"><%= Spree.t(:new_collection) %></legend>

  <div class="alpha twelve columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>
	</div>
	
	<div class="alpha twelve columns">
    <%= f.field_container :description do %>
      <%= f.label :description, Spree.t(:description) %> <span class="required">*</span><br />
      <%= f.text_field :description, :class => 'fullwidth title' %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.create'), 'icon-ok' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), "/admin/spree/collections", :class => 'button' %>
  </div>
  
</fieldset>
<% end %>
