<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_collections_list), admin_collections_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_collection), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_collection' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @collection } %>

<h1>Collection Details</h1>
<fieldset class="no-border-top">
  <div data-hook="admin_collection_form_fields">
    <div class="left eight columns alpha" data-hook="admin_product_form_left">
      <%= label_tag :name, Spree.t("name") %><br />
      <%= @collection.name %><br/>
      <%= label_tag :name, Spree.t("permalink") %><br />
      <%= @collection.permalink %><br/>
      <%= label_tag :name, Spree.t("description") %><br />
      <%= @collection.description %>
    </div>
    <div class="clear"></div>
  </div>
</fieldset>


<h1>Collection Products</h1>
<br/>
<div id="collection_products" data-hook>
  <%= render :partial => 'spree/admin/collections/products', :locals => {:collection => @collection} %>
</div>