<div class="row-fluid">
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
  <ul id="products" class="ul-product"  data-hook>
    <% products.each_with_index do |product,index| %>
      <li id="product_<%= product.id %>" style="<% if index%4 == 0 %> margin-left:0px <% end %>" class="product_loop li_prosuct_loop span3 <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product" >
        <%= form_for :order, :url => populate_orders_path do |f| %>
        <div class="product-image">
          <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
        </div>
        <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
        <span class="price selling" itemprop="price"><%= display_price(product) %></span>
        <div style="position: absolute;bottom: 0px;left: 30px;">
          <%= link_to "Detail", product, :itemprop => 'url', :class => "btn", :style =>"float:left;margin-right:10px;" %>
          <%= hidden_field_tag (product.variants_and_option_values.any? ? :quantity : "variants[#{product.master.id}]"),
            1, :class => 'title', :min => 1 %>
          <%= button_tag :class => 'primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
        </div>
        <% end %>
      </li>
    <% end %>
    <% reset_cycle("classes") %>
  </ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
</div>
